#body {
    padding         : 12px;
    font            : 14px "Lato";
    margin          : 0px;
    background-color: rgb(242, 242, 247);
    color           : rgba(28, 28, 30);
    border-radius   : 1em;
    font-family     : -apple-system, BlinkMacSystemFont, sans-serif;
}


#body ul {
    list-style-type: none;
    padding        : 0;
    margin         : 0;
    height         : 80px;

}

table {
    margin-bottom : 18px;
    border-spacing: 4px;

    margin-top : 18px;
    padding    : 4px;
    font-family: 1em -apple-system, BlinkMacSystemFont, sans-serif;
}

th {
    border-bottom: 1px solid rgb(216, 216, 216);
    margin       : 0;
    width        : 150px;
    padding      : 2px;
}

td {
    padding         : 2px;
    background-color: rgb(242, 242, 247);
}


/* Color Theme Swatches in Hex */
.color-theme_faf2b6c90de2dc45086df0c59e5afa40-1-hex {
    color: #AEBE89;
}

.color-theme_faf2b6c90de2dc45086df0c59e5afa40-2-hex {
    color: #DAE3BB;
}

.color-theme_faf2b6c90de2dc45086df0c59e5afa40-3-hex {
    color: #FAF8F0;
}

.color-theme_faf2b6c90de2dc45086df0c59e5afa40-4-hex {
    color: #ADDCCA;
}


/**********************************************************
  Body Section Styles
  ***********************************************************/
.body-section {
    padding-top: 40px;
    display    : block;

}

#class-pop {
    display         : none;
    padding         : 5px;
    top             : 15%;
    left            : 15%;
    z-index         : 9;
    position        : fixed;
    background-color: rgb(52, 199, 89);
    box-shadow      : 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    margin          : auto;
    border-radius   : 1em;
    font-family     : -apple-system, BlinkMacSystemFont, sans-serif;
}

#class-pop input[type=text] {
    border-bottom: 1px solid bisque;
    max-width    : 70px;
    max-height   : 30px;
    border-radius: 1em;
    padding      : 2px;
    z-index      : 1;
    text-align   : center;
}

.class-img {
    width           : 13px;
    height          : 13px;
    cursor          : pointer;
    z-index         : 2;
    margin-left     : 58px;
    margin-top      : -2px;
    position        : fixed;
    float           : right;
    padding         : 1px;
    background-color: rgb(52, 199, 89);
    border-radius   : 0px 2px 0px 5px;
    border          : 2px solid rgb(52, 199, 89);
}

#pop-up {
    display         : none;
    padding         : 20px;
    top             : 15%;
    left            : 15%;
    height          : 70%;
    width           : 70%;
    max-width       : 900px;
    z-index         : 999;
    position        : fixed;
    background-color: rgb(209, 209, 214);
    box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin          : auto;
    border-radius   : 2em;
    font-family     : -apple-system, BlinkMacSystemFont, sans-serif;

}

#pop-up span {
    float        : right;
    cursor       : pointer;
    padding-left : 15px;
    padding-right: 15px;
    border-radius: 1em;
    z-index      : 1;
    font-weight  : 500;
    font-family  : -apple-system, BlinkMacSystemFont, sans-serif;
}

#pop-up h4 {
    margin-top : 30px;
    text-align : center;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}

#pop-up h6 {
    text-align : center;
    font-weight: 300;
    font-size  : 12px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}

#pop-up span:hover {
    background-color: rgb(255, 45, 85);
    color           : rgb(255, 255, 255);
}

#pop-up input[type=text] {
    width        : 180px;
    margin-top   : 50px;
    margin-right : 20px;
    border-radius: 1em;
}

#pop-up input[type=search] {
    width        : 180px;
    margin-top   : 50px;
    margin-right : 20px;
    border-radius: 1em;
}

#pop-up input[type=submit] {
    width        : 100px;
    margin-top   : 50px;
    margin-right : 20px;
    border-radius: 1em;
}

datalist {
    position        : absolute;
    background-color: lightgrey;
    font-family     : sans-serif;
    font-size       : 0.8rem;
}

option {
    background-color: #BF213E;
    padding         : 4px;
    margin-bottom   : 1px;
    cursor          : pointer;
}




#degistir:hover {
    background-color: rgb(52, 199, 89);
}

#ekle:hover {
    background-color: rgb(52, 199, 89);
}

#ekle1:hover {
    background-color: rgb(52, 199, 89);
}

#ekle2:hover {
    background-color: rgb(52, 199, 89);
}

#sil:hover {
    background-color: rgb(255, 45, 85);
}

#ekle {
    width  : 150px;
    display: none;
}

#ekle1 {
    width  : 150px;
    display: none;
}

#ekle2 {
    width  : 150px;
    display: none;
}

#excell {
    width           : 100%;
    height          : 40px;
    border-radius   : 1em 1em 0 0;
    margin-bottom   : -15px;
    background-color: rgb(242, 242, 247);
    color           : #000;
    padding         : 8px;
}

#excell:hover {
    background-color: rgb(209, 209, 214);
}

.inf {
    display: none;
}

.dingdong {
    text-align   : center;
    padding      : auto;
    width        : 9%;
    font-family  : -apple-system, BlinkMacSystemFont, sans-serif;
    float        : left;
    margin       : 1%;
    font-size    : 12px;
    border-radius: 1em;
}

.seperator {
    width : 100%;
    height: 5px;
    float : left;
}

.checks {
    float          : left;
    width          : 50px;
    display        : flex;
    flex-direction : column;
    flex-wrap      : nowrap;
    justify-content: space-between;
    text-align     : center;
    align-items    : stretch;
    align-content  : stretch;
    height         : 100%;
    overflow-x     : auto;
}

.checks label {
    width : 50px;
    cursor: pointer;
}

.checks label:checked {
    width           : 50px;
    cursor          : pointer;
    background-color: lightgreen;
}

input[type=checkbox] {
    display: none;
}

.jobs-list-wrapper {
    width          : 100%;
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;
    justify-content: space-between;
    align-items    : stretch;
    align-content  : stretch;
    height         : 100%;
    overflow-x     : auto;

}

.jobs-list {

    width           : 15%;
    margin          : 0 5px 30px 0px;
    height          : 100%;
    display         : inline-block;
    vertical-align  : top;
    white-space     : nowrap;
    background-color: rgb(174, 174, 178);
    border-radius   : 5px;
}

.checks {
    width           : 15%;
    margin          : 0 5px 30px 0px;
    height          : 100%;
    display         : inline-block;
    vertical-align  : top;
    white-space     : nowrap;
    background-color: #e2e4e6;
    border-radius   : 5px;
}

.last {
    height: 150px;
}

.jobs-list-all {
    width           : 100%;
    height          : 650px;
    margin-bottom   : 20px;
    vertical-align  : top;
    white-space     : nowrap;
    background-color: rgb(196, 225, 255);
    display         : inline-block;
    border-radius   : 5px;
    font-family     : -apple-system, BlinkMacSystemFont, sans-serif;
    z-index         : 0;
    color           : rgba(28, 28, 30);
}

.jobs-list-alls {
    width           : 100%;
    height          : 200px;
    margin-bottom   : 20px;
    vertical-align  : top;
    white-space     : nowrap;
    background-color: rgb(196, 225, 255);
    display         : inline-block;
    border-radius   : 5px;
    font-family     : -apple-system, BlinkMacSystemFont, sans-serif;
    z-index         : 0;
    color           : rgb(55, 55, 54);
}


.jobs-list-all ul {
    height: 90px !important;
    border: 1px solid rgb(55, 55, 54);
    width : 18%;
    margin: 0.3% !important;
    float : left;
    color : rgb(55, 55, 54);
}

.jobs-list-alls ul {
    height: 100% !important;
    border: 1px solid rgb(55, 55, 54);
    width : 100%;
    float : left;
    color : rgb(55, 55, 54);
}

.jobs-list-all li {
    float: left;
    width : 100%;
    height: 100%;
    color : rgb(53, 53, 100);
    margin-bottom: -60px !important;
}

.jobs-list-alls li {
    float: left;

    width : 200px;
    height: 100%;
    color : rgb(53, 53, 100);

}

.jobs-list-all-body {
    width       : 98%;
    margin-right: 5px;
    margin-left : 9px !important;
    overflow    : auto;
    height      : 240px;
    border      : 1px solid brown;

}

.jobs-list-all-body::-webkit-scrollbar {
    width: 0.4em;
}

.jobs-list-all-body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius   : 5px;
}

.jobs-list-all-body::-webkit-scrollbar-track {
    background-color: rgb(242, 242, 247);
}

.jobs-list-wrapper::-webkit-scrollbar {
    width: 0em;
}

.jobs-list-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius   : 5px;
}

.jobs-list-wrapper::-webkit-scrollbar-track {
    background-color: rgb(242, 242, 247);
}



h2.jobs-list-heading {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size  : 10px;
    font-weight: bold;
    margin-left: 9px;
}

h2.jobs-list-heading-all {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size  : 10px;
    font-weight: bold;
    margin-left: 9px;
    color      : rgb(55, 55, 54);
}

.jobs-list-body {
    height      : 400px;
    margin-right: 5px;
    margin-left : 9px;
    overflow    : auto;
}

.jobs-list-body::-webkit-scrollbar {
    width: 0.4em;
}

.jobs-list-body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius   : 5px;
}

.jobs-list-body::-webkit-scrollbar-track {
    background-color: rgb(242, 242, 247);
}

.jobs-list-footer {
    height: 20px;
}

.job-block {
    background-color: rgb(242, 242, 247);
    border-radius   : 3px;
    cursor          : pointer;
    display         : block;
    margin-bottom   : 6px;
    width           : 94%;
    max-width       : 300px;
    height          : 50px;
    position        : relative;
    text-decoration : none;
    z-index         : 0;
    padding-left    : 5px;
    padding-right   : 5px;
    padding-bottom  : 10px;
    padding-top     : 10px;
    font-family     : -apple-system, BlinkMacSystemFont, sans-serif;
}

.job-block-qp {
    background-color: rgb(142, 142, 147);
    color           : rgb(242, 242, 247);
    border-radius   : 3px;
    cursor          : pointer;
    display         : block;
    width           : 94%;
    max-width       : 300px;
    height          : 10px;
    position        : relative;
    text-decoration : none;
    z-index         : 0;
    padding-left    : 5px;
    padding-right   : 5px;
    padding-bottom  : 10px;
    padding-top     : 10px;
    margin-right    : 1%;
    font-family     : -apple-system, BlinkMacSystemFont, sans-serif;

}

.job-name {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

    width: 100%;
}

.job-info-block-qp {
    margin-top     : -33px;
    margin-left    : 64%;
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;
    justify-content: space-between;
    align-items    : center;
    align-content  : center;
}

.job-name-block-qp {
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;
    justify-content: space-between;
    align-items    : center;
    align-content  : center;
    margin-bottom  : 15px;
}

.job-info-block {
    margin-top     : 10px;
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;
    justify-content: space-between;
    align-items    : center;
    align-content  : center;
}

.job-name-block {
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;
    justify-content: space-between;
    align-items    : center;
    align-content  : center;
    margin-bottom  : 15px;
}

.job-date {
    font-size       : 10px;
    padding         : 2px 8px 3px 8px;
    background-color: rgb(52, 199, 89);
    color           : rgb(242, 242, 247);
    display         : inline-block;
    border-radius   : 5px;
    font-family     : -apple-system, BlinkMacSystemFont, sans-serif;

}

.jobs-list-all h2 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color      : rgb(55, 55, 54);

}

.edit-job-icon {
    width : 10px;
    height: 10px;
}

.edit-job-icon:hover {
    opacity: 0.3;
}

.user-email {
    font-size  : 10px;
    color      : rgba(28, 28, 30);
    font-weight: 700;
}


/**********************************************************
  what the fork
  ***********************************************************/

.checkbox-booking:checked+label,
.checkbox-booking:not(:checked)+label {
    position               : relative;
    display                : -webkit-inline-flex;
    display                : -ms-inline-flexbox;
    display                : inline-flex;
    -webkit-align-items    : center;
    -moz-align-items       : center;
    -ms-align-items        : center;
    align-items            : center;
    -webkit-justify-content: center;
    -moz-justify-content   : center;
    -ms-justify-content    : center;
    justify-content        : center;
    -ms-flex-pack          : center;
    text-align             : center;
    padding                : 0;
    padding                : 6px 25px;
    font-size              : 14px;
    line-height            : 30px;
    letter-spacing         : 1px;
    margin                 : 0 auto;
    margin-left            : 6px;
    margin-right           : 6px;
    margin-bottom          : 16px;
    text-align             : center;
    border-radius          : 4px;
    cursor                 : pointer;
    color                  : var(--white);
    text-transform         : uppercase;
    background-color       : var(--dark-light);
    -webkit-transition     : all 300ms linear;
    transition             : all 300ms linear;
}

.checkbox-booking:not(:checked)+label::before {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.checkbox-booking:checked+label::before {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-booking:not(:checked)+label:hover::before {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-booking:checked+label::before,
.checkbox-booking:not(:checked)+label::before {
    position          : absolute;
    content           : '';
    top               : -2px;
    left              : -2px;
    width             : calc(100% + 4px);
    height            : calc(100% + 4px);
    border-radius     : 4px;
    z-index           : -2;
    background-image  : linear-gradient(138deg, var(--red), var(--yellow));
    -webkit-transition: all 300ms linear;
    transition        : all 300ms linear;
}

.checkbox-booking:not(:checked)+label::before {
    top   : -1px;
    left  : -1px;
    width : calc(100% + 2px);
    height: calc(100% + 2px);
}

.checkbox-booking:checked+label::after,
.checkbox-booking:not(:checked)+label::after {
    position          : absolute;
    content           : '';
    top               : -2px;
    left              : -2px;
    width             : calc(100% + 4px);
    height            : calc(100% + 4px);
    border-radius     : 4px;
    z-index           : -2;
    background-color  : var(--dark-light);
    -webkit-transition: all 300ms linear;
    transition        : all 300ms linear;
}

.checkbox-booking:checked+label::after {
    opacity: 0;
}

.checkbox-booking:checked+label .uil,
.checkbox-booking:not(:checked)+label .uil {
    font-size: 20px;
}

.checkbox-booking:checked+label .text,
.checkbox-booking:not(:checked)+label .text {
    position          : relative;
    display           : inline-block;
    -webkit-transition: opacity 300ms linear;
    transition        : opacity 300ms linear;
}

.checkbox-booking:checked+label .text {
    opacity: 0.6;
}

.checkbox-booking:checked+label .text::after,
.checkbox-booking:not(:checked)+label .text::after {
    position          : absolute;
    content           : '';
    width             : 0;
    left              : 0;
    top               : 50%;
    margin-top        : -1px;
    height            : 2px;
    background-image  : linear-gradient(138deg, var(--red), var(--yellow));
    z-index           : 1;
    -webkit-transition: all 300ms linear;
    transition        : all 300ms linear;
}

.checkbox-booking:not(:checked)+label .text::after {
    width: 0;
}

.checkbox-booking:checked+label .text::after {
    width: 100%;
}

.checkbox:checked~.section .container .row .col-12 .checkbox-booking:not(:checked)+label,
.checkbox:checked~.section .container .row .col-12 .checkbox-booking:checked+label {
    background-color: var(--light);
    color           : var(--dark-blue);
}

.checkbox:checked~.section .container .row .col-12 .checkbox-booking:checked+label::after,
.checkbox:checked~.section .container .row .col-12 .checkbox-booking:not(:checked)+label::after {
    background-color: var(--light);
}